MOFA+: training a model in Python

The line `ent = entry_point()` is simply creating an object called `ent` that you'll use to run your data analysis with MOFA2. It's like opening a tool that you'll use for the rest of your work.

In [7]:
from mofapy2.run.entry_point import entry_point
import pandas as pd
import numpy as np
# new comment 
# initialise the entry point
ent = entry_point()

        #########################################################
        ###           __  __  ____  ______                    ###
        ###          |  \/  |/ __ \|  ____/\    _             ###
        ###          | \  / | |  | | |__ /  \ _| |_           ###
        ###          | |\/| | |  | |  __/ /\ \_   _|          ###
        ###          | |  | | |__| | | / ____ \|_|            ###
        ###          |_|  |_|\____/|_|/_/    \_\              ###
        ###                                                   ###
        #########################################################

## 2) Load data

To create a MOFA+ object you need to specify four dimensions: samples (cells), features, view(s) and group(s). MOFA objects can be created from a wide range of input formats:

### 2.1) pandas data.frame format
A pandas data.frame with columns `sample`, `group`, `feature`, `view`, `value`.  This is the most intuitive format, as it summarises all omics/groups in a single data structure. Also, there is no need to add rows that correspond to missing data.

For example:
```
sample   group   feature    value   view
sample1  groupA  gene1      2.8044  RNA
sample1  groupA  gene3      2.2069  RNA
sample2  groupB  gene2      0.1454  RNA
sample2  groupB  gene1      2.7021  RNA
sample2  groupB  promoter1  3.8618  Methylation
sample3  groupB  promoter2  3.2545  Methylation
sample3  groupB  promoter3  1.5014  Methylation
```

In [33]:
D = [1000,1000] # Number of features per view
M = len(D)      # Number of views
K = 5           # Number of factors
N = [100,100]   # Number of samples per group
G = len(N)      # Number of groups


data_dt = pd.read_csv("http://ftp.ebi.ac.uk/pub/databases/mofa/getting_started/data.txt.gz", sep="\t")
data_dt.head()

             sample    group           feature    view  value
0  sample_0_group_0  group_0  feature_0_view_0  view_0  -2.05
1  sample_1_group_0  group_0  feature_0_view_0  view_0   0.10
2  sample_2_group_0  group_0  feature_0_view_0  view_0   1.44
3  sample_3_group_0  group_0  feature_0_view_0  view_0  -0.28
4  sample_4_group_0  group_0  feature_0_view_0  view_0  -0.88

In [ ]:
# 3

In [35]:
data_prefix = "http://ftp.ebi.ac.uk/pub/databases/mofa/getting_started"
data_mat = [[None for g in range(G)] for m in range(M)]
for m in range(M):
    for g in range(G):
        data_mat[m][g] = np.loadtxt("%s/%d_%d.txt.gz" % (data_prefix,m,g), delimiter="\t")